<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Desing Studio</title>
</head>

<body>
    <!-- SECTION TOP-HEADER INICIO -->
    <section class="top-header">
        <header>
            <div class="container">
                <!-- logo :inicio -->
                <div class="logo">
                    <h1>silika</h1>
                    <a href="#" class="botaoRED">We're Hiring</a>
                </div>
                <!-- logo: fim -->

                <!-- menu: inicio -->
                <nav>
                    <ul>
                        <li> <a href="#"> user cases </a> </li>
                        <li> <a href="#"> resources </a> </li>
                        <li> <a href="#"> weekly demos </a> </li>
                        <li> <a href="#"> pricing </a> </li>
                    </ul>
                </nav>
                <!-- menu: fim -->


                <!-- login: inicio -->
                <div class="login">
                    <a href="#">Login</a>
                    <a href="#" class="botaoGREEN">Get Started</a>
                </div>
                <!-- login: fim -->
            </div>
        </header>
        <div class="cta">
            <div class="container">
                <h2>Silika Helps <br> Marketing Agencies!</h2>
                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a.
                    Nulla consectetur nunc egestas metus pellentesque.</p>

                <div class="bts-cta">
                    <a href="#" class="botaoGREEN">Get Started</a>
                    <a href="#" class="botaoRED">How It Works</a>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION TOP-HEADER FIM -->


    <!-- brands inicio -->
    <section class="brands">
        <div class="container">
            <img src="images/Adobe.png.jpg" alt="adobe">
            <img src="images/Mosaic.png.jpg" alt="mosaic">
            <img src="images/CoLab.png.jpg" alt="colab">
            <img src="images/Holtzman Partners.png.jpg" alt="holtzman">
        </div>
    </section>
    <!-- brands fim -->

    <!-- about-us inicio -->
    <h3>About Us</h3>
    <section class="about-us">
        <div class="about-us-description">
            <h4>professional & team choose copy.ai</h4>
            <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit massa
            ullamcorper </p>

            <a href="#" class="botaoGREEN">Get Started</a>

                <div class="about-us-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fX5WCe3d8WU?si=dgihjAorliSxJo0P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            
        </div>
    </section>
    <!-- about-us fim -->

    <!-- our-features inicio -->
     <section class="our-features">
        <h3>Our Features</h3>
        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_add-folder.svg">
                </div>
                <div class="description-card">
                    <h4>Blog Content</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog Content</a>
                </div>
            </div>


        </div>
     </section>
     <!-- our features fim -->

</body>

</html>